DATA_FOLDER=/data
DATABASE_MAX_CONNS=10
WEB_VAULT_ENABLED=true
ROCKET_PROFILE=release
ROCKET_ADDRESS=0.0.0.0
ROCKET_PORT=80

# Both are overridden by /data/config.json once set in the admin panel
DOMAIN=https://vault.example.com
ADMIN_TOKEN=
