POSTGRES_DB=evolution
POSTGRES_USER=evolution
POSTGRES_PASSWORD=change_me
AUTHENTICATION_API_KEY=change_me
SERVER_URL=http://change_me:8080
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://evolution:change_me@evolution-postgres:5432/evolution?schema=evolution_api
CONFIG_SESSION_PHONE_CLIENT=change_me
CORS_ORIGIN=*
CACHE_REDIS_URI=redis://evolution-redis:6379
N8N_ENABLED=true